h1,h2,h3 {
	font-family: 'Playfair Display', serif;
	letter-spacing: 5px;
	text-decoration: none;
	color:#7b68ee ;
}
p {
	font-size:18px;
	line-height:1.6;
}
strong {
	font-weight:bold;
}
em {
	font-style:italic;
}
ul,ol {
	margin-left:20px;
}
li {
	line-height:1.6;
}
body {
	background-color: #111;
	color:white;
	margin:0;
	padding:0;
}
.container {
	width:80%;
	margin:auto;
	overflow:hidden;
}
.headtainer{
    width:80%;
	margin:auto;
	overflow:hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
}
header {
	background:#151515;
	color:#c9c9c9;
	min-height:70px;
	border-bottom:#ddb500 3px solid;
    font-weight:bold;
}
header a {
	color:#c9c9c9;
	text-decoration:none;
	text-transform:uppercase;
	font-size:16px;
    transition: all 0.5s ease;
}
header ul {
	padding:0;
	list-style:none;
}
header li {
	float:left;
	display:inline;
	padding:0 20px 0 20px;
}
header #branding {
	float:left;
}
header #branding h1 {
	margin:0;
}
header nav {
    display: flex;
    justify-content: center;
    align-items: center;
	float:right;
	margin-top:10px;
}
header .highlight,header .current a {
	color:#ddb500   ;
	font-weight:bold;
    transition: all 0.5s ease;
}
header a:hover {
	color:#ffffff;
    transition: all 0.5s ease;
    text-shadow: 0 0 5px #082567, 0 0 10px #082567, 0 0 15px #082567, 0 0 10px #082567, 0 0 10px #082567, 0 0 4px #082567, 0 0 5px #082567, 0 0 7px #082567;
}
.contact-block {
	color:#ffffff;
	padding:20px;
	margin-top:30px;
	border:1px solid #ffffff;
	border-radius: 5px;
}
.block {
	padding:20px;
	margin-top:30px;
	border-bottom:1px solid #ffffff;
}
.news-item {
	margin-top:20px;
	padding:20px;
	border:1px solid #ddd;
	border-radius:5px;
}
.news-item a {
    color:#0F52BA;
	text-decoration:none;
	text-transform:uppercase;
	font-size:16px;
    transition: all 0.5s ease;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 10px;
}
.news-item a:hover {
    color:#ffffff;
    transition: all 0.5s ease;
    text-shadow: 0 0 5px #082567, 0 0 10px #082567, 0 0 15px #082567, 0 0 10px #082567, 0 0 10px #082567, 0 0 4px #082567, 0 0 5px #082567, 0 0 7px #082567;
}
.news-date {
	font-style:italic;
	color:#666;
}
.tournament-section {
	margin:2em auto;
	max-width:800px;
}
.upcoming-tournaments,.past-tournaments {
	border:1px solid #dddddd;
	border-radius:4px;
	padding:2em;
	margin-bottom:2em;
}
.upcoming-tournaments h2,.past-tournaments h2 {
	font-size:1.5em;
	margin-bottom:0.5em;
}
.tournament-winner {
	font-weight:bold;
	color:#27ae60;
}
.tournament-list-item {
	padding:10px 0;
	border-bottom:1px solid #ddd;
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.tournament-list-item:last-child {
	border-bottom:none;
}
.clan-structure {
	padding:20px;
	margin-top:20px;
}
.clan-structure h2 {
	color:#333;
	font-size:24px;
}
.hierarchy {
	list-style-type:none;
	padding:0;
}
.hierarchy li {
	font-size:18px;
	border-bottom:1px solid #ddd;
	padding:10px 0;
}
